@using WhatsUp.Models;
@model IEnumerable<Group>
@{
    ViewBag.Title = "Groups";
}

<h2>Groups</h2>
@foreach (Group group in Model)
{
    <p>@Html.ActionLink(group.Name, "ViewChat", "Groups", new { groupid = group.Id }, null) @Html.ActionLink("Add people", "Add", "Groups", new { groupid = group.Id }, null)</p>
}