@using WhatsUp.Models;
@model Contact
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </p>
    <input type="submit" value="Update Contact" />
}