@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <section class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </section>
    </section>
}
<h3>@Html.ActionLink("My Contacts", "index", "Contacts")</h3>
<h3>@Html.ActionLink("My Chats", "index", "Chat")</h3>